html,body{
  margin:0;
  height: 100%;
  min-height: 100%;
  background-color: #f3f3f3;
}
#gameBoard{
  display: flex;
  justify-content: center;
  align-items: center;
}
.indikatorData{
  border:1px solid black;
  width:23px;
  height:23px;
}
.gameData{
  border:1px solid black;
}
.bowls{
  width:40px;
  height:40px;
  background-color: white;
  border:1px solid grey;
  border-radius: 100%;
}
.indikatorBowls{
  width:20px;
  height:20px;
  background-color: white;
  border:1px solid grey;
  border-radius: 100%;
}
td{
  background-color: lightgrey;
  height:50px;
  width:50px;
  border: 1px solid black;
  cursor: crosshair;
}
.notactive{
  border:1px solid red;
}
button {
  background-color: #0096E5; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;

}
button:hover{
  background-color: #005DE5; /* Green */
  color:#fff;
}
.btnActive{
  background-color: #005DE5; /* Green */
  color:#fff;
}
input[type=text] {
  width:50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #e6e6fa;
  color: black;
 }
#memberArea{
  width:75%;
  min-height:80%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  border-left:1px solid black;
  border-right:1px solid black;
  font-family: monospace;
}
#clock{
  float:right;
  margin-right:25px;
}
